.card-list{
    display: flex;
    height: calc(100vh - 8.25rem);
    flex: 2.88 1;
    /* height: 49.6rem; */
    overflow-y: scroll;
    gap: 2.5rem 2.42rem;
    flex-wrap: wrap;
    margin: 2.8rem 2rem 1rem 3rem;
}