
.orderComfirmation_main_section{
    padding: 3.5rem 10rem;
}

.orderConfirmation_heading{
    font-weight: 500;
    font-size: 1.35rem;

}

.orderConfirmation_message{
    margin-top: 0.75rem;

}

.cart_items_container{
    margin-top: 1rem;
}