/* Global variables */

:root{
    --primary-color: #7a1655;
    --secondary-color: #ffffff;
    --side-info: #9a4f7e;
    --black: #000;
    --dropdown-header: #8b8b8b;
    --dropdown-text: #444;
    --dropdown-list-border: #ccc;
}

/* Resetting default styles */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font styles and common styles */

body{
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

img{
    height: 100%;
    width: 100%;
}

input, .dropdown{
    width: 44.1rem;
}

select{
    font-size: 1.1rem;
}