
/* Shopping Screen */
.shopping_screen_main_section{
    display:flex;
    
}

/* Card C0ntainer */
.card_container{
    height: 56.75rem;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.3rem;
    row-gap: 3rem;
    padding: 2.75rem 2.9rem;
}


/* Cart Container */
.cart_container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    row-gap: 2rem;
    padding-left: 2rem;
}