

.button{
    padding: 0.65rem 1.25rem;
    color: #FFF;
    background-color: #000;
    font-size: 0.75rem;
    font-weight: 550;
    letter-spacing: 0.5px;
    border-radius: 0 0 6px 0;
    border: none;
    display: flex;
    align-items: center;
    justify-self: end;
    cursor: pointer;
}